.ShoppingCartMainWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ShoppingCartMain{
    margin-top: 50px;
    width: 1200px;
    display: flex;
}

.shoppingCartList{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 800px;
    background-color: inherit;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: inherit;
    border: 1px solid rgba(149, 221, 134, 1);
    border-radius: 5px;
}