.FavoritesMainWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.FavoritesMain{
    width: 1200px;
    display: flex;
}

.FavoritesCartList{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 800px;
    background-color: inherit;
}

.about{
    width: 400px;
    height: 500px;
    background-color: rgb(0, 255, 89);
}