.favoritesWrapper{
display: flex;
align-items: center;
gap: 5px;
}

.FavoritesImage{
    margin-left: 20px;
    width: 30px;
    cursor: pointer;
}

.favorites{
    position: absolute;
    left: -30%;
    top: 100%;
    width: 350px;
    height: 200px;
    background: linear-gradient(0deg, #dcdcdcbb, #dcdcdcce);
    -webkit-box-shadow: -14px 22px 57px 11px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: -14px 22px 57px 11px rgba(34, 60, 80, 0.15);
    box-shadow: -14px 22px 57px 11px rgba(34, 60, 80, 0.15);
    border-radius: 3px;
    
}