

.form {

    display: flex;
    flex-direction: column;
   
}

.labelForm {
    color: white;
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    &:first-child{
        margin-top: 0px;
    }
}

.formInput{
    display: block;
    width: 300px;
    padding: 5px 10px;
    color: rgb(217, 255, 215);
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(149, 221, 134, 1);
}

.formButton{
    margin-top: 30px;
    align-self: center;
    height: 35px;
    font-size: 16px;
    width: 160px;
    border: 1px solid rgba(149, 221, 134, 1);
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.formError{
    margin-top: 5px;
    color: red;
    font-size: 12px;
}