.FooterTitle{
    margin-top: 50px;
    width: 100%;
    position: relative;
}
.footerImage{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.titleDescriptioon{
    width: 700px;
    font-weight: 600;
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 5%;
    color: white;
}

.footerButton{
    position: absolute;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 5%;
    background-color: inherit;
    padding: 30px;
    cursor: pointer;
}